name: 'sumpfig'
services:
  backend:
    container_name: sumpfig-backend
    build: ./backend
    volumes:
      - ./backend/src:/app/src
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    # stdin_open: true
    # tty: true
  frontend:
    container_name: sumpfig-frontend
    build: ./frontend
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env.local
    environment:
      - WATCHPACK_POLLING=true
      - REACT_APP_SOUNDCLOUD_API_URL=http://localhost:5002
  soundcloud-service:
    container_name: sumpfig-soundcloud
    build:
      context: .
      dockerfile: ./soundcloud-service/Dockerfile
    ports:
      - "5002:5002"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5002

