name: 'sumpfig'
services:
  backend:
    container_name: sumpfig-backend
    build: ./backend
    volumes:
      - ./backend/src:/app/src
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    # stdin_open: true
    # tty: true
  frontend:
    container_name: sumpfig-frontend
    build: ./frontend
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env.local
    environment:
      - WATCHPACK_POLLING=true

